
.container{
    max-width: 70%;
    
    padding: 9px;
    margin: auto;
    border: 1px solid black;
}

.container h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col{
    margin: 23px;
}

.col-md-12 {
    width: 100%;
    margin-top: 23px;
    font-size: 16px;
}

.col-md-6 {
    width: 50%;
    margin-top: 25px;
    font-size: 16px;
    
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 54px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    font-size: medium;
}

.btn{
    margin-left: 430px;
    margin-top: 20px;
}